<?xml version="1.0"?>
<model>
    <name>wall_fb_1R1P</name>

    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>yeshasvi tirupachuri</name>
        <email>yeshasvi.tirupachuri@iit.it</email>
    </author>

    <description>
	Floating Base 1R 1P DOF 2 Link System with one end attached to the wall
    </description>
</model>
