<?xml version="1.0"?>
<model>
    <name>floating_base_1RDOF_2Link</name>

    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>yeshasvi tirupachuri</name>
        <email>yeshasvi.tirupachuri@iit.it</email>
    </author>

    <description>
	Floating Base 1R DOF 2 Link System
    </description>
</model>
