<?xml version="1.0"?>
<model>
    <name>2r_manipulator_scaled_down</name>
    
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>
    
    <author>
        <name>yeshasvi tirupachuri</name>
        <email>yeshasvi.tirupachuri@iit.it</email>
    </author>
    
    <description>
	2R Manipulator Scaled Down Version to Use with iCub in Gazebo
    </description>
</model>
