<?xml version="1.0"?>
<model>
    <name>1p_3link</name>

    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>yeshasvi tirupachuri</name>
        <email>yeshasvi.tirupachuri@iit.it</email>
    </author>

    <description>
	3 link system with a prismatic joint
    </description>
</model>
