<?xml version="1.0"?>
<model>
    <name>marker_camera</name>

    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>yeshasvi tirupachuri</name>
        <email>yeshasvi.tirupachuri@iit.it</email>
    </author>

    <description>
      marker and camera in gazebo to check aruco pose values consistency and accuracy
    </description>
</model>
